# None TF vars
FLOATING_IP                     = ""
KVM_APPLICATION_CREDENTIAL_ID   = ""
KVM_APPLICATION_CREDENTIAL_SECRET = ""
CHI_APPLICATION_CREDENTIAL_ID   = ""
CHI_APPLICATION_CREDENTIAL_SECRET = ""

# if expired use kubectl -n kube-system create token admin-user
DASHBOARD_TOKEN                 = ""
ARGOCD_ADMIN_PASSWORD           = ""

# Platform secrets (dummy placeholders)
MINIO_ACCESS_KEY                = "replace-minio-access-key"
MINIO_SECRET_KEY                = "replace-minio-secret-key"
PLATFORM_POSTGRES_USERNAME      = "replace-platform-postgres-username"
PLATFORM_POSTGRES_PASSWORD      = "replace-platform-postgres-password"
PLATFORM_POSTGRES_DBNAME        = "replace-platform-postgres-dbname"
AIRFLOW_ADMIN_USERNAME          = "replace-airflow-admin-username"
AIRFLOW_ADMIN_PASSWORD          = "replace-airflow-admin-password"
AIRFLOW_ADMIN_FIRSTNAME         = "replace-airflow-admin-firstname"
AIRFLOW_ADMIN_LASTNAME          = "replace-airflow-admin-lastname"
AIRFLOW_ADMIN_EMAIL             = "replace-airflow-admin-email"
NIMTABLE_JWT_SECRET             = "replace-nimtable-jwt-secret"
NIMTABLE_ADMIN_USERNAME         = "replace-nimtable-admin-username"
NIMTABLE_ADMIN_PASSWORD         = "replace-nimtable-admin-password"

# Staging app secrets (dummy placeholders)
STAGING_POSTGRES_PASSWORD       = "replace-staging-postgres-password"
STAGING_SECRET_KEY              = "replace-staging-secret-key"
STAGING_DJANGO_ADMIN_USERNAME   = "replace-staging-admin-username"
STAGING_DJANGO_ADMIN_PASSWORD   = "replace-staging-admin-password"
STAGING_DJANGO_ADMIN_EMAIL      = "replace-staging-admin-email"

# Canary app secrets (dummy placeholders)
CANARY_POSTGRES_PASSWORD        = "replace-canary-postgres-password"
CANARY_SECRET_KEY               = "replace-canary-secret-key"
CANARY_DJANGO_ADMIN_USERNAME    = "replace-canary-admin-username"
CANARY_DJANGO_ADMIN_PASSWORD    = "replace-canary-admin-password"
CANARY_DJANGO_ADMIN_EMAIL       = "replace-canary-admin-email"

# Production app secrets (dummy placeholders)
PRODUCTION_POSTGRES_PASSWORD     = "replace-production-postgres-password"
PRODUCTION_SECRET_KEY            = "replace-production-secret-key"
PRODUCTION_DJANGO_ADMIN_USERNAME = "replace-production-admin-username"
PRODUCTION_DJANGO_ADMIN_PASSWORD = "replace-production-admin-password"
PRODUCTION_DJANGO_ADMIN_EMAIL    = "replace-production-admin-email"
