# None TF vars
FLOATING_IP                     = ""
APPLICATION_CREDENTIAL_ID       = ""
APPLICATION_CREDENTIAL_SECRET   = ""  

# if expired use kubectl -n kube-system create token admin-user
DASHBOARD_TOKEN                 = ""
ARGOCD_ADMIN_PASSWORD           = ""