# None TF vars
FLOATING_IP                     = ""
KVM_APPLICATION_CREDENTIAL_ID   = ""
KVM_APPLICATION_CREDENTIAL_SECRET = ""
CHI_APPLICATION_CREDENTIAL_ID   = ""
CHI_APPLICATION_CREDENTIAL_SECRET = ""

# if expired use kubectl -n kube-system create token admin-user
DASHBOARD_TOKEN                 = ""
ARGOCD_ADMIN_PASSWORD           = ""
