apiVersion: v1
kind: Secret
metadata:
  name: proj10-adventurelog-secrets
  namespace: proj10-production
type: Opaque
stringData:
  POSTGRES_PASSWORD: "__PRODUCTION_POSTGRES_PASSWORD__"
  SECRET_KEY: "__PRODUCTION_SECRET_KEY__"
  DJANGO_ADMIN_USERNAME: "__PRODUCTION_DJANGO_ADMIN_USERNAME__"
  DJANGO_ADMIN_PASSWORD: "__PRODUCTION_DJANGO_ADMIN_PASSWORD__"
  DJANGO_ADMIN_EMAIL: "__PRODUCTION_DJANGO_ADMIN_EMAIL__"
