apiVersion: v1
kind: Secret
metadata:
  name: nimtable-secrets
  namespace: proj10-platform
type: Opaque
stringData:
  NIMTABLE_DATABASE_URL: "__NIMTABLE_DATABASE_URL__"
  NIMTABLE_JWT_SECRET: "__NIMTABLE_JWT_SECRET__"
  NIMTABLE_ADMIN_USERNAME: "__NIMTABLE_ADMIN_USERNAME__"
  NIMTABLE_ADMIN_PASSWORD: "__NIMTABLE_ADMIN_PASSWORD__"
