apiVersion: v1
kind: Secret
metadata:
  name: proj10-adventurelog-secrets
  namespace: proj10-canary
type: Opaque
stringData:
  POSTGRES_PASSWORD: "__CANARY_POSTGRES_PASSWORD__"
  SECRET_KEY: "__CANARY_SECRET_KEY__"
  DJANGO_ADMIN_USERNAME: "__CANARY_DJANGO_ADMIN_USERNAME__"
  DJANGO_ADMIN_PASSWORD: "__CANARY_DJANGO_ADMIN_PASSWORD__"
  DJANGO_ADMIN_EMAIL: "__CANARY_DJANGO_ADMIN_EMAIL__"
