apiVersion: v1
kind: Secret
metadata:
  name: proj10-adventurelog-secrets
  namespace: proj10-staging
type: Opaque
stringData:
  POSTGRES_PASSWORD: "__STAGING_POSTGRES_PASSWORD__"
  SECRET_KEY: "__STAGING_SECRET_KEY__"
  DJANGO_ADMIN_USERNAME: "__STAGING_DJANGO_ADMIN_USERNAME__"
  DJANGO_ADMIN_PASSWORD: "__STAGING_DJANGO_ADMIN_PASSWORD__"
  DJANGO_ADMIN_EMAIL: "__STAGING_DJANGO_ADMIN_EMAIL__"
