apiVersion: v1
kind: Secret
metadata:
  name: nimtable-config
  namespace: proj10-platform
type: Opaque
stringData:
  config.yaml: |
    server:
      port: 8182
      host: 0.0.0.0
    database:
      url: jdbc:postgresql://__PLATFORM_POSTGRES_HOST__:5432/__NIMTABLE_POSTGRES_DBNAME__
      username: __PLATFORM_POSTGRES_USERNAME__
      password: __PLATFORM_POSTGRES_PASSWORD__
    flyway:
      baselineOnMigrate: true
