apiVersion: v1
kind: Secret
metadata:
  name: postgres-credentials
  namespace: proj10-platform
type: Opaque
stringData:
  username: "__PLATFORM_POSTGRES_USERNAME__"
  password: "__PLATFORM_POSTGRES_PASSWORD__"
  dbname: "__PLATFORM_POSTGRES_DBNAME__"
