apiVersion: v1
kind: Secret
metadata:
  name: airflow-secrets
  namespace: proj10-platform
type: Opaque
stringData:
  AIRFLOW_ADMIN_USERNAME: "__AIRFLOW_ADMIN_USERNAME__"
  AIRFLOW_ADMIN_PASSWORD: "__AIRFLOW_ADMIN_PASSWORD__"
  AIRFLOW_ADMIN_FIRSTNAME: "__AIRFLOW_ADMIN_FIRSTNAME__"
  AIRFLOW_ADMIN_LASTNAME: "__AIRFLOW_ADMIN_LASTNAME__"
  AIRFLOW_ADMIN_EMAIL: "__AIRFLOW_ADMIN_EMAIL__"
