[defaults]
stdout_callback = ansible.builtin.default
inventory = ./inventory.yml
private_key_file = ~/.ssh/id_rsa_chameleon
host_key_checking = False

[ssh_connection]
ssh_common_args = -o ProxyJump=chameleon-bastion -o IdentitiesOnly=yes
ssh_args = -o ControlMaster=auto -o ControlPersist=60s \
           -o StrictHostKeyChecking=off -o UserKnownHostsFile=/dev/null \
           -o ForwardAgent=yes 